### Q1.Calculate Area of a Circle

In [1]:
import math
def area_of_circle(r):
    #pi=3.14
    area = math.pi*r*r
    return area
area_of_circle(5)

78.53981633974483

### Q2.Say Hello to user, Expected, ‘Hello name’

In [2]:
print('Enter your name:')
name = input()
print('Hello, ' + name)

Enter your name:
Mani
Hello, Mani

### Q3.Calculate Volume of Sphere

In [3]:
def volume_sphere(r):
    #pi=3.14
    volume= (4/3)*math.pi*r*r
    return volume

volume_sphere(5)

104.71975511965977

### Q4.Copy String in n times

In [4]:
st = "mani "*3
print(st)

mani mani mani

### Q5.Calculate Area of a Triangle

In [5]:
def area_triangle(h,b):
    area= (h*b)/2
    return area
area_triangle(2,3)

3.0

### Q6.Calculate Interest

In [6]:
def intrest():
    principal=int(input("please enter the princial amount: "))
    time = int(input("please enter the time: "))
    rate = int(input("please enter the rate of the interest: "))
    intrests = (principal*time*rate)/100
    return intrests
intrest()

please enter the princial amount: 200
please enter the time: 2
please enter the rate of the interest: 2

8.0

### Q7.calculate Euclidean Distance

In [7]:
def Ecucliadean_distance():
    x1= float(input("Enter the X1: "))
    x2= float(input("Enter the X2: "))
    y1= float(input("Enter the y1: "))
    y2= float(input("Enter the y2: "))
    distance = ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)
    return distance
Ecucliadean_distance()

Enter the X1: 2
Enter the X2: 2
Enter the y1: 2
Enter the y2: 2

0.0

## Q8.Feet to centimeter Converter

In [8]:
def feet_converter():
    feet = float(input("Enter measurement in feet: "))
    centimeter = 30.48
    converetcentimeter = print(f"The centimeter is {feet*centimeter}")
    return converetcentimeter
feet_converter()

Enter measurement in feet: 6
The centimeter is 182.88

### Q9.BMI Calculator

In [9]:
def Bmi():
    weight = float(input("enter weight in kg: "))
    height = float(input("enter height in meeter: "))
    bmi_calculation = print(f"The calculate Bmi is {weight/(height*height)}")
    return bmi_calculation
Bmi()

enter weight in kg: 68
enter height in meeter: 1.8
The calculate Bmi is 20.98765432098765

### Q10.Binary to Decimal

In [10]:
def binary_Decimal():
    decimal= int(input("Enter decimal number: "))
    conversion = bin(decimal) 
    return conversion
binary_Decimal()

Enter decimal number: 23

'0b10111'

### Q11.Receive two integral numbers in string form and compute their sum and then print it in console.

In [12]:
def string_form():
    num1 = float(input('Enter first number: '))
    num2 = float(input("Enter second number: "))
    sumarize = print(f"The sum of the two number is {num1+num2}")
    return
string_form()

Enter first number: 23
Enter second number: 2
The sum of the two number is 25.0

### Q12.Bitwise operators for any two variable all the bitwise operator that are there

In [13]:
a= 10
b=5
print("")
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a >> 1 = 5
b >> 1 = 2

### Q13.str1=" this is a sample daTaa to test for the task" Check if ‘is’ present in str1

In [14]:
def Check_string():
    text = "this is a sample daTaa to test for the task"
    x= text.split()
    return x
if 'is' in Check_string():
    print('Yes, present')
else:
    print("Absent")

Yes, present

### Q14.Check if ‘was’ not present in str1

In [15]:
if 'was' in Check_string():
    print('Present')
else:
    print("absent")

absent

### Q15.Print str1 in uppercase

In [16]:
str1=" this is a sample daTaa to test for the task"
str1.upper()

' THIS IS A SAMPLE DATAA TO TEST FOR THE TASK'

### Q16.Print str1 as title

In [17]:
str1.title()

' This Is A Sample Dataa To Test For The Task'

### Q17.Get a new string from str1 ‘DatTaa’ as ‘Data’

In [18]:
str1=" this is a sample daTaa to test for the task"
new_str=print(str1.replace('daTaa', 'data'))
new_str

 this is a sample data to test for the task

### Q18.Print a new string with extra "a" removed form previous task

In [19]:
new_str1=" this is a sample data to test for the task"

#print(new_str.replace('data','dat'))

### Q19.Display ‘sample’ word from ‘ this is another sample string ‘ *

In [20]:
txt = "this is another sample string"
txt.split()

['this', 'is', 'another', 'sample', 'string']

In [21]:
txt = "this is another sample string"
txt[1]

'h'

### Q20.Display date, month and year form 21-oct-2020

In [22]:
txt = "21-oct-2020"
split_text=txt.split("-")
day=split_text[0]
month = split_text[1]
year = split_text[2]

In [23]:
month

'oct'

In [24]:
day

'21'

In [25]:
year

'2020'

### Q21.rr = “10,20,30,40,50,60,70”, get “50,60”

In [26]:
arr = "10,20,30,40,50,60,70"
new_index = arr[12:17]
new_index

'50,60'

### Q22.using negative index get "50 ,60"

In [27]:
neg_index=arr[-8:-3]
neg_index

'50,60'

### Q23. From credit_str get ‘8888’ credit_str = "xxxx----xxxx-8888------xxxx"

In [28]:
credit_str = "xxxx----xxxx-8888------xxxx"
new_credit_str = credit_str[13:17]
new_credit_str

'8888'

### Q24.convert a integer into a string and print it in console

In [29]:
num1 =123
converter = str(num1)
type(converter)

str

### Q25. take two strings as input and concatenate them and then print it

In [1]:
first_name =input("Enter your first name: ")
second_name = input("Enter your Second name: ")
print(f'The fullname is :{first_name +" "+ second_name}')

Enter your first name: mani
Enter your Second name: bhattarai
The fullname is :mani bhattarai

#### Q26. From credit_str get ‘0’ credit_str = "1234-5678-9878-0434"

In [2]:
credit_str = "1234-5678-9878-0434"
credit_str[15]

'0'

### Q27. convert the given string into list given_string = " Apples is differnt from Apple Inc"

In [3]:
given_string = "Apples is differnt from Apple Inc"
li = given_string.split(" ")
type(li)
li

['Apples', 'is', 'differnt', 'from', 'Apple', 'Inc']

### Q28. print type of a and get the 1 element a = {(1,2):1,(2,3):2}

In [4]:
a = {(1,2):1,(2,3):2}
type(a)#printing type of a

dict

In [5]:
a.get((1,2))

1

### Q29.write a program to get list as 4,3,2 from the list below a=1,2,3,4,5

In [6]:
a = [1,2,3,4,5]
new_li = a[1:4]
another_li = new_li[::-1]
another_li

[4, 3, 2]

### Q30.write a program to get odd number only using a slicing a=1,2,3,4,5,6,7,8,9

In [7]:
a = [1,2,3,4,5,6,7,8,9]
odd_num=a[::2]
odd_num

[1, 3, 5, 7, 9]

### Q31.create a tuple with (1,2) 5 times

### Q32.from given list create separate lists of strings and numbers.use list comprehension gadgets = "Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Le

In [8]:
gadgets = ['Mobile','Laptop',100,'camera',310.28,'Speakers',27.0,'Television',1000,'Laptop Case','Camera Lens']
stringlist = [x for x in gadgets if isinstance(x,str)]

In [9]:
numberlistint = [x for x in gadgets if isinstance(x,float)]
numberlistfloat = [x for x in gadgets if isinstance (x,int)]
new_numberlist = numberlistint + numberlistfloat
new_numberlist

[310.28, 27.0, 100, 1000]

### Q33.An array is given from the array find the sum of diagonal using list comprehension a_2d=[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a_2d=[1, 2, 3, 4, 5, 6, 7, 8, 9]
sum1 = [x+x for x in a_2d ]
sum1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Q34.convert number into tuple of words using comprehension num=8976543201

In [11]:
num = '8976543201'
mytuple = tuple(num)
mytuple

('8', '9', '7', '6', '5', '4', '3', '2', '0', '1')

### Q35.print the numbers which are divisible by 2 but are not a multiple of 5 numbers = range(1, 10)

In [12]:
division = [x for x in range(1,10) if x%2==0 ]
division

[2, 4, 6, 8]

### Q36.print the sum of tuple : use comprehension init_tuple = [(0, 1), (1, 2), (2, 3)]

In [13]:
init_tuple = [(0, 1), (1, 2), (2, 3)]
[i+j for i,j in init_tuple ]

[1, 3, 5]

### Q37.delete the last coumn from the given 4*4 matrix arr = [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]*

In [14]:
arr = [[1, 2, 3, 4], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]
remove_arr = arr.pop(1)
remove_arr

[4, 5, 6, 7]

### Q38.get the list of value of dict in sorted way dict = {'c': 97, 'a': 96, 'b': 98}

In [15]:
dict1 = {'c': 97, 'a': 96, 'b': 98} 
dict1_val = dict1.values()
print(sorted(dict1_val))

[96, 97, 98]

###  Q39.Creating a Dictionary with Integer Keys and print it

In [16]:
dict2 = {1:2,3:4}
dict2.keys()

dict_keys([1, 3])

### Q40.Creating a Dictionary with Mixed keys

In [17]:
dict3 = {'name':'Mani','age':25,'height':183,1994:'date'}
dict3.keys()

dict_keys(['name', 'age', 'height', 1994])

### Q41.Creating an empty Dictionary

In [18]:
dict3 ={}
dict3

{}

### Q42. Creating a Dictionary with dict() method

In [19]:
dict4 = dict([(1,2),(2,3),(3,4)])
dict4

{1: 2, 2: 3, 3: 4}

### Q43.Creating a Dictionary with each item as a Pair

In [20]:
dict5 = {'names':['Mani','Pawan'],'ages':[25,27],'address':['kathamandu','Nawalparasi']}
dict5

{'names': ['Mani', 'Pawan'],
 'ages': [25, 27],
 'address': ['kathamandu', 'Nawalparasi']}

### Q44.Creating a Nested Dictionary as shown in the below image {1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}

In [21]:
dict6 = {'name':{'firstname':'Mani','Surname':'Bhattarai'},'Address':{'coutry':'Finalnd','city':'Turku'}}
dict6

{'name': {'firstname': 'Mani', 'Surname': 'Bhattarai'},
 'Address': {'coutry': 'Finalnd', 'city': 'Turku'}}

### Q45.Add a Nested Key value to nested dictionary Dictionary

In [22]:
dict6['Address']['street']= 'Yö-kyla'

In [23]:
dict6

{'name': {'firstname': 'Mani', 'Surname': 'Bhattarai'},
 'Address': {'coutry': 'Finalnd', 'city': 'Turku', 'street': 'Yö-kyla'}}

### Q46.create a dictionary with id:num and value: square for range (0,6) using dict comprehension

In [24]:
{k:v for k,v in enumerate(range(0,6)) if v%2==0}

{0: 0, 2: 2, 4: 4}

### Q47.create a dictionary using dict comprehension to get the odd square only

In [25]:
{k:v for k,v in enumerate(range(0,6)) if v%2!=0}

{1: 1, 3: 3, 5: 5}

### Q48 from a given dict {1: 'a', 2: 'b', 3: 'c'} change the key into item and viceversa

In [26]:
dict7 ={1:'a',2:'b',3:'c'}
x = dict7.items()
dict7[3] ='f'
print(x)

dict_items([(1, 'a'), (2, 'b'), (3, 'f')])

### Q49.get a hello from the given dict d = {'k1':[{'nest_key':['this is deep','hello']}]} *

In [27]:
d = {'k1':[{'nest_key':['this is deep','hello']}]}
print(d['k1'][0]['nest_key'][1])

hello

### Q50.Divisibility Check of user given 2 input of numbers

In [28]:
num1=int(input("Enter a num"))
num2 = int(input("Enter another num"))
if num1%num2==0 or num2%num1==0:
    print("They are divisible")
else:
    print("They are not Divisible")

Enter a num23
Enter another num24
They are not Divisible

### Q51. Check if number is even or odd

In [29]:
def even_odd(n):
    if n%2==0:
        print('Even number')
    else:
        print('Odd number')
even_odd(45)

Odd number

### Q52.Check whether Entered character is Vowel or not

In [30]:
vowel = ['a','A','e','E','i','I','o','O','u','U']
ch = input("Enter a letter of alphabet")
if ch in vowel:
    print('This is Vowel')
else:
    print('This is Consonant')

Enter a letter of alphabetasdbsd
This is Consonant

### Q53.calculate Sum of n positive Integer example: Sum of n positive Integer till 2 is 3

In [32]:
n= int(input("Enter a positive integer "))
total = n*(n+1)/2
print(f"The sum of the first {n},positive integers {total}")

Enter a positive integer 23
The sum of the first 23,positive integers 276.0

### Q54.calculate the Digit Sum of a number (eg: 123 print 1+2+3=6)

In [33]:
 
n=int(input("Enter a number:"))
tot=0
while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
print("The total sum of digits is:",tot)

Enter a number:23
The total sum of digits is: 5

### Q55.Count Numbers, Alphabets, and Special Character from user input string

In [34]:
user_string=input("Enter you string whatever you want")
Number=0
Alphabets=0
Special_Character = 0
for i in range(len(user_string)):
    if (user_string[i].isalpha()):
        Alphabets = Alphabets + 1
    elif (user_string[i].isdigit()):
        Number = Number + 1
    else: 
        Special_Character = Special_Character + 1

print(f"The total number of digits is:",Number)
print(f"The total number of Alphabets is: ",Alphabets)
print(f"THe total number of Special Character is: ",Special_Character)

Enter you string whatever you wantass@£$
The total number of digits is: 0
The total number of Alphabets is:  3
THe total number of Special Character is:  3

### Q56.constuct the given pattern

In [35]:
n=5
for i in range(n):
    for j in range(i):
        print('* ',end="")
    print("")
for i in range(n,0,-1):
    for j in range(i):
        print('* ',end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Q57. Count number of characters in a string eg : {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [36]:
def count_char(text):
    count = 0
    for ch in text:
        count += 1
    return count

mani = {'h': 1, 'e': 1, 'l': 2, 'o': 1}
count_char(mani)

4

### Q58. write a program to compute 5/0 using try except

In [37]:
try:
    x= 5/0
except ZeroDivisionError:
    print('division by zero')

division by zero

### Q59. Handle the exception thrown by the code below by using try and except blocks. li=["hello","class"] for i in li: print (i**2)

In [38]:
def blocks():
    li=["hello","class"] 
    for i in li:
        print(i**2)  
try:
    blocks()
except TypeError:
    print('unsupported operand type(s) for ** or pow(): "str" and "int"')

unsupported operand type(s) for ** or pow(): "str" and "int"

### Q60.Write a function that asks for an integer and prints the square of it. Use a while loop with a try,except, else block to account for incorrect inputs.

***example: Input an integer: null An error occurred! Please try again! Input an integer: 2 Thank you, you number squared is: 4 ***

In [ ]:
def integer():
    x = int(input('Enter a integer'))
    return x**2

while True:
    try:
        integer()
    except ValueError:
        print("null An error occurred! Please try again!")
        print(f'Input an integer: {x} Thank you, you number squared is: {integer()}')

Enter a integer0
Enter a integer
null An error occurred! Please try again!

In [ ]:

d = {'k1':[{'nest_key':['this is deep','hello']}]}
print(d.k1['nest_key'][1]

### Q61.Accept the String and print the words composed of digits only